<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lzw.pdddao.mapper.RoleMapper">
    <select id="getApisId" resultType="integer">
        select role_api.api_id from role_api
        where role_api.role_id=(select roles.role_id from roles where roles.role_name=#{roleName})
    </select>

    <select id="getApiInfoById" resultType="com.lzw.pdddao.entity.Apis">
        select sub_id,api_url from apis
        where api_id=#{apiId}
    </select>

    <select id="getDisableApisId" resultType="integer">
        select api_id from disable
        where open_id=#{openId}
    </select>
</mapper>